<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Prototype</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
<div class="container">
 
 <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8"><img class="" src="static\twitter.png" alt="Smiley face" height="240" width="240"></div>
</div>
  
  <form  action="/start" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <input type="text" class="form-control" id="folder" name="folder" placeholder="Enter keyword..">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>   
</html>
